Source: libtertiusqbit-cron-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-cron-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-perl
Conflicts: libqbit-cron-perl
Replaces: libqbit-cron-perl
Description: Class for working with Cron.
 Class for working with Cron.
